h2 {

   color:#F4836A;
   size:18px;
   background: #381E3A;
    float:center;
    margin-top:0px; 
    font-family: 'Vidaloka', serif;
    padding-top:10px;
}

h3 {

  color:#F4836A;
  size:14px;
  font-family: 'Vidaloka', serif;
  margin-left: 70px;
  margin-top: 20px;
}

h4 {

  color:#5E4545;
  size:11px;
  font-family: 'Vidaloka', serif;
  margin-left: 70px;
  margin-top: 20px;
  margin-right: 70px;
  margin-bottom: 20px;

}

p{

	color:#5E4545;
	size:11px;
	font-family: 'Vidaloka', serif;
}

body {

  background-color:#CBE9E0; 
}

.logo{

width:250px;
height: 250px;

}

img.city{

  max-width:250px;
  max-height:250px;
  
}
img{

  max-height: 750px;
  max-width: 750px;
  margin-bottom: 100px;
  margin-top:50px;

}

div.imageblog {

  margin-left: auto;
  margin-right:auto;
  float: center;
  padding:20px;

  max-height: 500px
  max-width:400px;
}

div.carousel-inner{

  width:auto;
  height: auto;
  float: center;
  margin-right: 150px;
  margin-left: 150px; 
  margin-top:50px;
  margin-bottom: 50px;
}


div.color-info {
	
	background-color: #381E3A;
	padding-bottom: 40px;
	padding-top: 5px;
}

ul.topnav {
   
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #381E3A;
  font-family: 'Vidaloka', serif;
}

ul.topnav li {

  float: right;
}

ul.topnav li a {

  display: inline-block;
  color: #F4836A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}


ul.topnav li a:hover {background-color: #CBE9E0;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {

  ul.topnav.responsive {position: relative;}

  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
    }

  ul.topnav.responsive li {
    float: none;
    display: inline;
    }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
    }

}